<head>
    <meta charset="UTF-8">
    <title>Känslotracker</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" type="image/png"
    href="{{ url_for('static', filename='favicon.png') }}">
    <a href="/" class="back-link">← Tillbaka till hubben</a>
</head>

<body>
<h1>Triggers</h1>

<p class="info">
  <p>
En trigger betyder inte att du är svag eller överreagerar.
Ibland reagerar nervsystemet på något som påminner om tidigare upplevelser, gamla känslor eller roller vi lärt oss att ta.
Kroppen försöker ofta skydda oss långt innan det logiska tänkandet hinner förstå vad som händer.
</p>

<h3>Vanliga tecken på att något triggat dig</h3>
<ul>
<li>Stark känsloreaktion</li>
<li>Svårt att tänka klart</li>
<li>Behov av kontroll</li>
<li>Vilja att fly eller stänga av</li>
<li>Överanalysering</li>
<li>Stark ilska eller skam</li>
<li>Rädsla för att bli avvisad</li>
<li>Känslan av att vara "liten igen"</li>
</ul>

<div class="trigger-box">

  <button class="trigger-toggle">
    Steg 1 – Vad hände?
  </button>

  <div class="trigger-content">
    <p>Vilken situation triggade mig?</p>
    <p>Vad väckte den i mig?</p>
    <p>Vad kände jag i kroppen?</p>
  </div>

</div>



</body>